@import 'flexbox'

$background-color: #{"{{ theme.background_color }}"}
$alt-background-color: #{"{{ theme.alt_background_color }}"}

$text-color: #{"{{ theme.text_color }}"}
$welcome-text-color: #{"{{ theme.welcome_text_color }}"}

$accent-color: #{"{{ theme.accent_color }}"}
$alt-accent-color: #{"{{ theme.alt_accent_color }}"}

$primary-gradient-color: #{"{{ theme.primary_gradient_color }}"}
$secondary-gradient-color: #{"{{ theme.secondary_gradient_color }}"}

$pattern-color: #{"{{ theme.pattern_color }}"}

$border-color: #{"{{ theme.border_color }}"}

$error-background: #{"{{ theme.error_background_color }}"}

$marginSize: 50px
$border: solid 2px $border-color
$gradient: linear-gradient(140deg, rgba(209,251,255,1) 20%, rgba(255,165,232,1) 70%)

$text-font: #{"{{ theme.text_font }}"}
$header-font : #{"{{ theme.header_font }}"}

$break-extra-large: 1400px
$break-large: 1280px
$break-medium: 1024px
$break-small: 768px
$break-extra-small: 560px

@mixin rotated
  transform: rotate(90deg)

@mixin all-transitions
  +transition(.2s ease-in-out)

@mixin vertical-align
  +transform(translateY(-50%))
  position: relative
  top: 50%

@mixin keyframes($animation)
  @-webkit-keyframes #{$animation}
    @content

  @keyframes #{$animation}
    @content

@mixin animation($str...)
  -webkit-animation: $str
  animation: $str

@mixin transform($str...)
  -webkit-transform: $str
  transform: $str

@mixin transition($transition...)
  -webkit-transition: $transition
  transition: $transition

@mixin appearance($str...)
  -webkit-appearance: $str
  -moz-appearance: $str
  appearance: $str

@mixin centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both