@import 'config'

.cart-container
  border: $border
  margin-left: $marginSize
  padding: $marginSize/2
  position: relative

.cart-form
  margin-left: -$marginSize

.cart-items
  list-style: none
  margin: 0
  padding: 0

.cart-item
  +flexbox
  +align-items(center)
  +justify-content(flex-start)
  border: $border
  background: $background-color
  margin-bottom: 25px

  &:last-child
    margin-bottom: 0

.cart-item-image
  background-size: cover
  border: $border
  display: block
  height: $marginSize*2
  width: $marginSize*2

.cart-item-details
  +flexbox
  +align-items(flex-start)

  .cart-item-details-name
    text-transform: uppercase

  .cart-item-details-option
    color: red

.cart-item-quantity-holder
  +flexbox
  margin-left: auto
  padding: 0 50px

  .option-quantity
    width: 50px

.cart-item-details-price
  +flexbox
  +justify-content(center)
  +align-items(center)
  background: $text-color
  color: $background-color
  height: 169px
  width: 187px

button.qty-button
  background: none
  border: none
  line-height: normal
  padding: 0
  margin: 0 12px
