@import 'config'

*
  box-sizing: border-box

html
  height: 100%
  position: relative

body
  background: $background-color
  color: $text-color
  font-family: $text-font
  font-size: 16px
  font-weight: normal
  height: 100%
  line-height: 1.5em
  margin: 0
  position: relative

a
  text-decoration: none
  color: $text-color

  &:hover
    text-decoration: underline

h1, h2, h3, h4
  margin: 0
  padding: 0

input, textarea
  +appearance(none)
  background-color: $alt-background-color
  border-radius: 0
  border: $border
  color: $text-color
  font-size: 16px
  height: 55px
  padding: 10px
  width: 100%

  &:hover, &:focus
    background-color: $alt-accent-color
    outline: $border

textarea
  min-height: $marginSize*3
  max-width: 600px

.select
  +all-transitions
  border: $border
  color: $text-color
  font-family: $text-font
  height: 55px
  max-width: 100%
  padding: 0
  position: relative
  width: 100%

  select
    +all-transitions
    +appearance(none)
    border: 0
    border-radius: 0
    color: $text-color
    font-family: $text-font
    font-size: 14px
    height: 100%
    letter-spacing: 1px
    line-height: 58px
    padding: 0 66px 0 16px
    position: relative
    text-transform: uppercase
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none

  svg
    +all-transitions
    fill: $text-color
    height: 8px
    margin-top: -2px
    position: absolute
    right: 20px
    top: 50%
    width: 13px
    z-index: 1

  &:hover, &:active, &:focus, &:focus-within
    background-color: $alt-accent-color
    outline: $border

    select

      option:disabled
        color: graytext

    svg
      fill: $text-color

button, .button
  +all-transitions
  background-color: $accent-color
  border-radius: 0
  border: $border
  color: $text-color
  display: block
  height: 55px
  line-height: $marginSize
  margin: 0 auto
  text-align: center
  text-decoration: none

  &:hover, &:focus
    +all-transitions
    background-color: $text-color
    color: $alt-background-color
    text-decoration: none

.wrapper
  margin: 0 auto
  max-width: 1450px
  padding: 0
  position: relative
  width: 100%

.header
  position: fixed
  top: 0
  max-width: 1450px
  width: 100%
  z-index: 100

.header-store-link
  +flexbox
  +justify-content(center)
  +align-items(center)
  background: $alt-background-color
  border: $border
  color: $text-color
  height: 213px
  margin-left: 20px
  margin-top: 20px
  position: relative
  text-decoration: none
  width: 213px

  &:before
    background: $gradient
    border: $border
    box-sizing: border-box
    content: ' '
    display: block
    font-size: 0
    height: 100%
    left: -12px
    margin: 0
    padding: 0
    position: absolute
    top: -12px
    width: 100%
    z-index: -1

  &:after
    background: $gradient
    border: $border
    box-sizing: border-box
    content: ' '
    display: block
    font-size: 0
    height: 100%
    left: -22px
    margin: 0
    padding: 0
    position: absolute
    top: -22px
    width: 100%
    z-index: -2

.header-cart
  color: $text-color
  font-size: 22px
  position: absolute
  right: 0
  top: 0
  text-decoration: none

  .header-cart-info
    color: $text-color
    display: block
    text-decoration: none
    width: 55px

  .header-cart-count
    +all-transitions
    background: $accent-color
    border: $border
    display: block
    line-height: 51px
    text-align: center

    &:hover, &:focus
      background-color: $text-color
      color: $alt-background-color
      text-decoration: none

  .header-cart-total
    +flexbox
    +justify-content(center)
    +align-items(center)
    +transform(rotate(90deg))
    text-align: center
    margin-left: -120px
    margin-top: 150px
    font-size: .950em
    width: 300px

    &:after
      +flex(1 0 20px)
      content: ''
      border-top: 3px solid $text-color
      margin: 0 20px 0 0

    &:after
      margin: 0 0 0 20px

.side-nav
  position: sticky
  top: 250px
  width: 100%

.side-nav-section
  margin-bottom: 25px

.category-nav-title
  background: $accent-color
  border: $border
  cursor: pointer
  padding: 12px 25px
  position: relative

  .down-arrow
    +transform(translateY(-50%))
    fill: $text-color
    height: 16px
    position: absolute
    right: 25px
    top: 50%
    width: 16px

.category-nav-items
  display: none

.side-search
  border: $border

  .search-input
    +appearance(none)
    border: none
    background: none

.main
  +flexbox

  .sidebar
    padding-right: 50px
    width: 280px

  .page-content
    max-width: 970px
    position: relative
    width: calc(100% - 280px)
    z-index: 101

.custom-page-content, .product-description
  a
    text-decoration: underline

  ol, ul
    padding-left: 1em

  img, iframe
    max-width: 100%

footer
  +flexbox
  background-color: $alt-accent-color
  border: $border
  min-height: $marginSize*3
  padding: 0
  position: relative
  width: 100%

  .footer-section
    +flexbox
    +justify-content(center)
    +align-items(center)
    border-right: $border

    &:last-child
      border: none

  .footer-store-name
    width: 30%

  .footer-nav
    width: 50%

  .footer-social
    +flexbox
    background: $text-color
    width: 20%

    ul
      +flexbox

      li
        margin: 0 5px

        a
          display: block

          svg
            fill: $background-color
            height: 24px
            width: 24px

          &:hover svg
            fill: $accent-color

ol.unstyled, ul.unstyled
  list-style: none
  margin: 0
  padding: 0
