@import 'config'

*
  box-sizing: border-box

html, body
  height: 100%
  margin: 0
  padding: 0

body
  background: $background-color
  color: $text-color
  font-family: $text-font
  font-size: 16px
  font-weight: normal
  line-height: 1.5em
  position: relative

  &.no-scroll
    overflow: hidden
    -webkit-overflow-scrolling: touch

a
  text-decoration: none
  color: $text-color

  &:hover
    text-decoration: underline

h1, h2, h3, h4
  margin: 0
  padding: 0

h1
  font-size: 28px
  line-height: 36px
  margin-bottom: 80px

  @media screen and (max-width: $break-medium)
    margin-bottom: 50px

input, textarea
  +appearance(none)
  background-color: $alt-background-color
  border-radius: 0
  border: $border
  color: $text-color
  font-family: $text-font
  font-size: 16px
  height: 55px
  padding: 10px
  width: 100%

  &:hover, &:focus
    background-color: $alt-accent-color
    outline: none

textarea
  min-height: $marginSize*3

.select
  +all-transitions
  background: $alt-background-color
  border: $border
  color: $text-color
  font-family: $text-font
  height: 55px
  max-width: 100%
  padding: 0
  position: relative
  width: 100%

  &:hover, &:active, &:focus, &:focus-within
    background: $alt-accent-color

  select
    +all-transitions
    +appearance(none)
    background: none
    border: 0
    border-radius: 0
    color: $text-color
    font-family: $text-font
    font-size: 14px
    height: 100%
    letter-spacing: 1px
    line-height: 57px
    padding: 0 66px 0 15px
    position: relative
    text-transform: uppercase
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none

  svg
    +all-transitions
    +transform(translateY(-50%))
    fill: $text-color
    height: 16px
    position: absolute
    right: 20px
    top: 50%
    width: 16px
    z-index: 1

.header-message
  font-size: 15px
  line-height: 22px
  margin: 0 auto
  max-width: 1500px
  padding: 0 $marginSize
  position: relative
  width: 100%

  @media screen and (max-width: $break-medium)
    display: none
    padding: 0

  &.mobile-header-message
    display: none

    @media screen and (max-width: $break-medium)
      display: block
      margin-top: -2px

.header-message + .header-message > div
  border-top: none

  @media screen and (max-width: $break-medium)
    border-top: $border

.errors
  background-color: $error-background
  border: $border
  color: $text-color
  list-style: none
  padding: 15px
  text-align: center

.announcement-message
  display: none

.has-announcement-message .announcement-message
  +flexbox
  +align-items(center)
  +justify-content(center)
  background-color: $alt-accent-color
  border: $border
  color: $text-color
  left: 0
  padding: 15px
  position: relative
  top: 0
  width: 100%
  z-index: 9

  .announcement-message-text
    text-align: center
    width: calc(100% - 100px)

    @media screen and (max-width: $break-small)
      width: calc(100% - 50px)

  .announcement-message-close
    +transform(translateY(-50%))
    background: none
    border: none
    cursor: pointer
    height: auto
    line-height: 1em
    padding: 4px
    position: absolute
    right: 13px
    top: 50%

    svg
      fill: $text-color
      height: 18px
      width: 18px

button, .button
  +all-transitions
  background-color: $accent-color
  border-radius: 0
  border: $border
  color: $text-color
  cursor: pointer
  display: block
  font-size: 16px
  font-family: $text-font
  height: 55px
  line-height: $marginSize
  text-align: center
  text-decoration: none

  &.minimal-button
    background: none
    color: $text-color
    border: none
    font-size: 13px
    padding: 0

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      background: none
      color: $text-color
      text-decoration: underline

  &:disabled, &.disabled
    cursor: not-allowed
    opacity: .3

  &.no-border
    border: none

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    background-color: $text-color
    color: $alt-background-color
    text-decoration: none

ol.unstyled, ul.unstyled
  list-style: none
  margin: 0
  padding: 0

.wrap
  +flexbox
  +flex-direction(column)
  min-height: 100%
  max-width: 1500px
  margin: 0 auto
  position: relative

.main
  +flexbox
  +flex(1)

.has-welcome .sidebar
  @media screen and (min-width: $break-medium+1)
    padding-top: 50px

.sidebar
  +flex(0 0 277px)
  padding: 250px 0 $marginSize $marginSize

  @media screen and (max-width: $break-medium)
    +transition(left .25s ease-in-out)
    background: $background-color
    height: 100vh
    left: -100vw
    padding: 75px 225px  100px !important
    position: fixed
    height: calc(100vh - 90px)
    top: 90px
    width: 100%
    z-index: 100

    &.opened
      left: 0
      overflow-y: scroll
      z-index: 200

  @media screen and (max-width: $break-extra-small)
    padding: 25px 50px 100px !important

.has-header-message .desktop-header-store-name
  top: 0
  margin-top: -2px

.has-header-message .is-sticky .desktop-header-store-name
  margin-top: 0

.header-store
  background: $alt-background-color
  color: $text-color
  left: 74px
  position: absolute
  text-decoration: none
  z-index: 202

  &.desktop-header
    font-size: 22px
    line-height: 30px

    @media screen and (max-width: $break-medium)
      display: none

  .header-store-link
    +flexbox
    +justify-content(center)
    +align-items(center)
    background: $alt-background-color
    border: $border
    height: 196px
    padding: 20px
    position: absolute
    text-align: center
    top: 24px
    z-index: 1
    width: 196px

  .gradient
    border: $border
    content: " "
    height: 196px
    position: absolute
    width: 196px
    top: 12px
    left: -12px
    z-index: -1

    &:last-child
      left: -24px
      top: 0
      z-index: -2

  .header-store-logo
    display: block
    max-width: 100%

  @media screen and (max-width: $break-medium)
    +transform(translateY(-50%))
    left: 50%
    height: 60px
    margin: 0 auto
    top: 55px
    width: 60px
    z-index: 202

    &.has-text

      .header-store-link
        border: none
        text-align: center
        width: auto

      .gradient
        display: none

.side-nav
  width: 100%

  @media screen and (max-width: $break-medium)
    margin: 0 auto
    max-width: 320px
    position: relative
    text-align: center
    top: 0

  @media screen and (max-width: $break-extra-small)
    text-align: left

.side-nav-section
  margin-bottom: 10px

  &.pages-nav
    margin-top: 40px

.category-nav-title
  background: $accent-color
  border: $border
  cursor: pointer
  line-height: normal
  text-align: left
  padding: 0 15px
  position: relative
  width: 100%

  .down-arrow
    +transform(translateY(-50%))
    fill: $text-color
    height: 16px
    position: absolute
    right: 15px
    top: 50%
    width: 16px

.category-nav-items
  border: $border
  border-top: none
  display: none

  li
    border-bottom: $border

    a
      background: $alt-accent-color
      display: block
      padding: 12px

      &:hover, &:focus
        background: $accent-color
        text-decoration: none

    &:last-child
      border-bottom: none


.side-search

  .search-form
    position: relative

  .search-button
    +flexbox
    +align-items(center)
    +justify-content(center)
    background: none
    border: none
    height: 51px
    left: 5px
    opacity: .5
    padding: 0
    position: absolute
    top: 2px
    width: 40px

    &:hover, &:active, &:focus
      background: none
      color: $text-color
      opacity: 1

      svg
        fill: $text-color

    svg
      fill: $text-color
      height: 16px
      position: relative
      top: 0px
      width: 16px

  .search-input
    +appearance(none)
    border: $border
    background: $alt-background-color
    line-height: normal
    padding-left: 40px

    &:hover, &:focus
      background: $alt-accent-color

.page-nav-items
  margin-bottom: $marginSize/2

  li
    margin-bottom: $marginSize/2

    a
      padding: 4px 0

.has-header-message .header-cart
  top: 0
  margin-top: -2px

.has-header-message .is-sticky .header-cart
  margin-top: 0

.header-cart
  color: $text-color
  font-size: 22px
  text-decoration: none
  z-index: 101

  .header-cart-info
    color: $text-color
    display: block
    height: 150px
    position: absolute
    margin-left: auto
    right: 50px
    text-decoration: none
    width: 55px
    z-index: 200

    @media screen and (max-width: $break-medium)
      display: none
      top: 0


  .header-cart-count
    +all-transitions
    background: $accent-color
    border: $border
    display: block
    line-height: 51px
    text-align: center

    &:hover, &:focus
      background-color: $text-color
      color: $alt-background-color
      text-decoration: none

  .header-cart-total
    +flexbox
    +justify-content(center)
    +align-items(center)
    +transform(rotate(90deg))
    text-align: center
    margin-left: -120px
    margin-top: 150px
    font-size: .950em
    width: 300px

    @media screen and (max-width: $break-medium)
      display: none

    &:after
      +flex(1 0 20px)
      content: ''
      border-top: 3px solid $text-color
      margin: 0 20px 0 0

    &:after
      margin: 0 0 0 20px

.content
  +flex(1)
  padding: 70px $marginSize
  margin-right: $marginSize * 2

  @media screen and (max-width: $break-medium)
    padding: 50px 25px
    margin-right: 0

.mobile-header
  +flexbox
  +justify-content(space-between)
  +align-items(center)
  +flex-direction(row)
  background: $background-color
  border: $border
  display: none
  height: 90px
  padding: 0 25px
  position: absolute
  width: 100% !important
  z-index: 202

  .header-store
    +transform(none)
    height: 84px
    left: auto
    top: auto

    &.has-text
      background: none
      position: relative
      width: 60%

      .header-store-link
        background: none
        height: 100%
        padding: 0
        top: 0
        width: 100%

    &.has-logo
      background: none
      position: relative
      top: -3px
      width: 60px

      .header-store-link, .gradient
        height: 78px
        padding: 0
        width: 78px

  .header-cart-count
    height: 45px
    line-height: 41px
    padding: 0
    width: 45px

  @media screen and (max-width: $break-medium)
    +flexbox

.open-menu
  background: $background-color
  border: none
  color: $text-color
  display: none
  height: 24px
  padding: 0
  position: relative
  margin: 0
  margin-top: 4px

  &:hover, &:active, &:focus
    background: none !important
    color: $text-color !important

  @media screen and (max-width: $break-medium)
    display: block

footer
  +flexbox
  +flex-direction(row)
  border: $border
  max-width: 1400px
  margin: 0 auto
  z-index: 199
  width: 100%

  @media screen and (max-width: $break-medium)
    +flex-direction(column)

  .footer-section
    +flexbox
    +align-items(center)
    +justify-content(center)
    background-color: $alt-accent-color
    border-right: $border
    padding: 50px

    &.footer-store-name
      +flex(1)
      font-size: 22px
      text-align: center

    &.footer-nav

      ul.footer-links
        column-count: 3
        -webkit-column-count: 3
        -moz-column-count: 3
        -webkit-column-width: 150px
        -moz-column-width: 150px
        column-width: 150px
        font-size: 14px
        max-width: 500px
        width: 100%

        @media screen and (max-width: $break-small)
          column-count: 2
          -webkit-column-count: 2
          -moz-column-count: 2
          margin: 0 auto
          width: 100%

        li
          display: inline-block
          text-align: right
          width: 100%

          @media screen and (max-width: $break-medium)
            text-align: left

          a
            display: block

    &.footer-social
      +flex-direction(column)
      background-color: $text-color
      color: $background-color
      border: none
      text-align: center

      ul
        +flexbox

        li
          margin: 0 5px

          a
            display: block

            svg
              fill: $background-color
              height: 24px
              width: 24px

            &:hover svg
              fill: $accent-color

      .bigcartel-credit
        white-space: nowrap

        a
          color: $background-color
          font-size: 12px

          &:hover
            color: $accent-color

      ul + .bigcartel-credit
        margin-top: 10px

    @media screen and (max-width: $break-medium)
      border-bottom: $border
      border-right: none
      width: 100% !important

.custom-page-content, .product-description
  a
    text-decoration: underline

  ol, ul
    padding-left: 1em

  img, iframe
    max-width: 100%

.lookbook-gallery
  text-align: center

  &:not(:only-child)
    margin-top: 50px

.lookbook-gallery-image
  display: block
  margin-bottom: 50px

  &:last-child
    margin-bottom: 0

.custom-page-content
  max-width: 750px
  width: 100%

.flickity-page-dots

  .dot
    background: $background-color
    border: $border
    border-radius: 0
    height: 20px
    opacity: 1
    width: 20px

    &.is-selected
      background: $accent-color

.cursor
  +flexbox
  +align-items(center)
  +justify-content(center)
  border: $border
  height: 51px
  line-height: 51px
  opacity: 0
  position: fixed
  width: 51px
  z-index: 202
  visibility: hidden

  svg
    height: 20px
    width: 20px

.pointer-device.show-cursor
  cursor: none !important

  *
    cursor: none !important

  .cursor
    opacity: 1
    pointer-events: none
    visibility: visible

.sticky-mobile-header
  display: none
  width: 100% !important

  @media screen and (max-width: $break-medium)
    display: block

@media screen and (max-width: $break-medium)
  .hide-mobile
    display: none !important