@import 'config'

#maintenance

  .main
    padding-top: 0

  .wrap
    max-width: 920px
    padding: 25px

  .header-store
    +transform(translateX(-50%))
    left: 50%
    margin: 0
    width: 193px
    height: 193px
    position: relative
    top: -50%
    font-size: 22px
    line-height: 30px

    .gradient
      display: block !important

    .header-store-link
      border: $border !important

#maintenance header
  position: relative
  top: 100px
  width: 100%

  @media screen and (max-width: $break-small)
    background: none
    border: none
    height: auto
    left: auto
    top: 0

  a
    margin: 0 auto

#maintenance .maintenance-message
  padding-top: 0
  width: 100%

  @media screen and (max-width: $break-small)
    +flex-direction(column)
    +flexbox

  .message-content
    border: $border
    margin: 0 auto
    max-width: 970px
    padding: 150px 50px 50px
    text-align: center
    width: 100%

    @media screen and (max-width: $break-small)
      padding: 75px 25px 25px

    h1
      line-height: 1em
      margin-bottom: 20px

      @media screen and (max-width: $break-small)
        line-height: 1em

    p
      font-size: 1.5em