@import 'config'

#product .content

  @media screen and (max-width: $break-medium)
    +flexbox
    +flex-direction(column)
    padding-top: 0

.product-heading
  +flexbox
  +justify-content(flex-start)
  +align-items(flex-start)
  position: relative
  top: 0
  z-index: 100

  @media screen and (max-width: $break-medium)
    margin-top: 50px
    position: relative
    order: 2
    top: auto

  @media screen and (max-width: $break-small)
    +flex-direction(column)

.product-titles
  +align-self(flex-start)

  @media screen and (max-width: $break-medium)
    padding-right: 25px
    padding-bottom: 0

  h1
    margin-bottom: 10px

.product-subtitle
  font-size: 22px
  line-height: 36px

.product-status
  background: $text-color
  color: $background-color
  font-size: 11px
  padding: 6px 10px
  vertical-align: middle

.product-option-label
  z-index: 100
  display: none

.focused label.product-option-label
  display: block
  left: 15px
  top: 17px

.product-form
  margin-left: auto
  margin-top: -80px
  max-width: 296px
  width: 100%

  @media screen and (max-width: $break-small)
    margin-top: 25px
    max-width: 100%

  .select
    border-bottom: 0
    line-height: 53px
    margin-bottom: 0
    position: relative

    select
      padding-top: 0

    &.focused, &.filled
      select
        padding-top: 6px

    &:last-child
      border-bottom: $border
      margin-bottom: 10px

  .add-to-cart-button
    width: 100%

.reset-selection-button-container
  text-align: center
  width: 100%

button.reset-selection-button
  display: none
  height: auto
  max-width: 100%
  line-height: normal
  margin: 20px auto 0
  padding: 4px
  width: auto


.product-description
  margin: 50px 0
  max-width: 600px
  width: 100%

  @media screen and (max-width: $break-medium)
    order: 3

.product-images
  padding-top: 80px
  width: 100%
  z-index: 99

  @media screen and (max-width: $break-medium)
    order: 1
    padding-top: 20px

  img
    border: $border
    display: block
    height: auto
    max-height: 100%
    max-width: 775px
    width: 100%

    @media screen and (max-width: $break-medium)
      height: auto

#product .main-carousel

  .carousel-cell
    margin-right: 25px
    width: 775px

    @media screen and (max-width: $break-medium)
      width: 100%

    img
      display: block
      width: 100%

  .flickity-page-dots
    bottom: -10px
    width: 775px

    @media screen and (max-width: $break-medium)
      width: 100%

.similar-products
  border: $border
  border-bottom: 0
  margin-bottom: 0
  padding: 0 80px 10px * 6
  position: relative
  z-index: 199
  max-width: 1400px
  margin: 0 auto
  width: 100%

  @media screen and (max-width: $break-medium)
    padding-bottom: 10px

.similar-products
  border: $border
  border-bottom: 0
  margin-bottom: 0
  padding: 0 80px 60px
  position: relative

  @media screen and (max-width: $break-medium)
    padding: 25px

.similar-products-header
  position: absolute
  top: -20px

.similar-products-title
  background: $background-color
  border: $border
  padding: 6px 8px

.similar-product-list
  +justify-content(flex-start)
  margin: 70px -25px 0

  @media screen and (max-width: $break-medium)
    margin-top: 25px

  .product-list-item
    padding: 25px
    width: 33.33%

    @media only screen and (min-width: 768px) and (hover: hover), (-moz-touch-enabled: 0)
      &.rollover .product-list-item-info
        width: 100%

    @media screen and (max-width: $break-medium)
      width: 100%
