@import 'config'

#product .page-content
  padding-top: 0

.product-heading
  +flexbox
  +justify-content(center)
  +align-items(center)
  position: sticky
  top: 0

  @media screen and (max-width: $break-small)
    position: relative
    order: 2

.product-form
  margin-left: auto
  width: 290px

  .select
    border-bottom: 0
    line-height: 53px

    &:last-child
      border-bottom: $border
      margin-bottom: 10px

  .add-to-cart-button
    width: 100%

.product-body
  padding-top: 50px

  @media screen and (max-width: $break-small)
    order: 1

.product-images
  +flexbox
  height: 500px

  > div
    margin-right: 25px

    &:last-child
      margin-right: 0

  img
    border: $border
    height: 500px