@import 'config'

.product-heading
  +flexbox
  position: sticky
  top: 0

.product-form
  margin-left: auto
  width: 290px

.product-body
  padding-top: 50px

.product-images
  +flexbox
  height: 500px

  > div
    margin-right: 25px

    &:last-child
      margin-right: 0

  img
    border: $border
    height: 500px