<div class="cart-container gradient{% if cart.items != blank %}{% else %} empty-cart{% endif %}">
  {% if cart.items != blank %}
    <h1 class="page-title">{{ page.name }}</h1>
    <form method="post" action="/cart" id="cart-form" class="cart-form">
      <ul class="cart-items">
        {% for item in cart.items %}
          <li class="cart-item" data-item-id="{{ item.id }}">
            <div class="cart-item-image-holder">
              <a class="cart-item-image" href="{{ item.product.url }}" title="View {{ item.product.name | escape }}" style="background-image:url('{{ item.product.image | product_image_url | constrain: 576, 576 }}');"></a>
            </div>
            <div class="cart-item-details">
              <div class="cart-item-details-name">{{ item.product.name }}</div>
              {% unless item.product.has_default_option %}
                <div class="cart-item-details-option">{{ item.option.name }}</div>
              {% endunless %}
            </div>
            <div class="cart-item-quantity-holder" data-item-id="{{ item.id }}">
              <button class="decrease-qty-button qty-button" data-func="minus" type="button"><svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><path d="M7.984 16.089a.728.728 0 0 1-.726-.726v-.726c0-.4.327-.726.726-.726h14.032c.4 0 .726.327.726.726v.726c0 .4-.327.726-.726.726H7.984zM30 15c0 8.286-6.714 15-15 15S0 23.286 0 15 6.714 0 15 0s15 6.714 15 15zm-1.935 0c0-7.252-5.886-13.065-13.065-13.065C7.748 1.935 1.935 7.821 1.935 15c0 7.252 5.886 13.065 13.065 13.065 7.252 0 13.065-5.886 13.065-13.065z"/></svg></button>
              {{ item | item_quantity_input, 'option-quantity', 'option-quantity' }}
              <button class="increase-qty-button qty-button" data-func="plus" type="button"><svg width="30" height="30" xmlns="http://www.w3.org/2000/svg"><path d="M22.742 14.637v.726c0 .4-.327.726-.726.726H16.09v5.927c0 .4-.327.726-.726.726h-.726a.728.728 0 0 1-.726-.726V16.09H7.984a.728.728 0 0 1-.726-.726v-.726c0-.4.327-.726.726-.726h5.927V7.984c0-.4.327-.726.726-.726h.726c.4 0 .726.327.726.726v5.927h5.927c.4 0 .726.327.726.726zM30 15c0 8.286-6.714 15-15 15S0 23.286 0 15 6.714 0 15 0s15 6.714 15 15zm-1.935 0c0-7.252-5.886-13.065-13.065-13.065C7.748 1.935 1.935 7.821 1.935 15c0 7.252 5.886 13.065 13.065 13.065 7.252 0 13.065-5.886 13.065-13.065z"/></svg></button>
            </div>
            <div class="cart-item-details-price subheader">{{ item.unit_price | money: theme.money_format }}</div>
          </li>
        {% endfor %}
      </ul>
      <div class="cart-footer">
        <div class="cart-subtotal">
          <span class="cart-subtotal-label">Subtotal:</span>
          <span class="cart-subtotal-amount"><span class="cart-subtotal-amount-value">{{ cart.total | money: theme.money_format }}</span> + tax + shipping</span>
        </div>
        <div class="cart-buttons">
          <a class="continue-shopping" href="/products">Continue Shopping</a>
          <button type="submit" name="checkout" title="Checkout" class="button checkout-btn">Checkout</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="cart-empty-message">
      <div>ghost emoji</div>
      <strong>Your cart is empty!</strong> <a class="button" href="/">Start shopping</a>
    </div>
  {% endif %}
</div>

