

<div class="featured gradient">
  <div class="featured-details">
    <div class="tag">Featured</div>
    <div class="feature-text">
      <h2 class="subheader">Shop summer jewelry collection</h2>
      <a href="/products" class="button">Shop now</a>
    </div>
  </div>
  <div class="featured-img">
    <ul>
      <li><img src="https://assets.bigcartel.com/product_images/232183991/belt+bag_+crop-07.jpg?auto=format&fit=max&w=1200"></li>
      <li><img src="https://assets.bigcartel.com/product_images/232183991/belt+bag_+crop-07.jpg?auto=format&fit=max&w=1200"></li>
      <li><img src="https://assets.bigcartel.com/product_images/232183991/belt+bag_+crop-07.jpg?auto=format&fit=max&w=1200"></li>
    </ul>
  </div>
</div>

<h1 class="page-title">Featured products</h1>
{% if theme.featured_items > 0 %}
  {% get products from products.all limit:theme.featured_items order:theme.featured_order %}
    {% if products != blank %}
      <ul class="product-list">
        {% for product in products %}
        <li class="{{ product.css_class }}">
          <a href="{{ product.url }}" class="product-link" title="View {{ product.name | escape }}">
            <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: '1000' }}">
            <div class="product-details overlay">
              <span class="product-name">{{ product.name }}</span>
              <span class="product-price">{{ product.default_price | money: theme.money_format }}</span>
            </div>
            {% case product.status %}
              {% when 'active' %}
                {% if product.on_sale %}<div class="product-status">On Sale</div>{% endif %}
              {% when 'sold-out' %}
                <div class="product-status">Sold Out</div>
              {% when 'coming-soon' %}
                <div class="product-status">Coming Soon</div>
            {% endcase %}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endget %}
{% endif %}